@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fpg7we');
  src:  url('../fonts/icomoon.eot?fpg7we#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fpg7we') format('truetype'),
    url('../fonts/icomoon.woff?fpg7we') format('woff'),
    url('../fonts/icomoon.svg?fpg7we#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-npm:before {
  content: "\e900";
}
.icon-bootstrap:before {
  content: "\e901";
}
.icon-node-dot-js:before {
  content: "\e902";
}
.icon-jest:before {
  content: "\e903";
}
.icon-github:before {
  content: "\e904";
}
.icon-css3:before {
  content: "\e905";
}
.icon-javascript:before {
  content: "\e906";
}
.icon-html5:before {
  content: "\e907";
  color: #fff;
}
.icon-firebase:before {
  content: "\e908";
  color: #fff;
}
